<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hasd.mapper.UserMapper">

    <select id="selectTop" resultType="com.hasd.entity.User">
        select username, password, score
        from ewoodfish.user
        where enable = 1
        order by score desc;
    </select>
</mapper>
